.box{
    height: 100vh;
    width:100%;
    background-image: url(header.png);
    background-color: #3e1921;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: table;
    }

.box2{
    padding: 40px;
    height: 100vh;
    width:100%;
    background-image: url(header.png);
    background-color: #3e1921;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: table;
}
.navbar-brand{
    margin-left: 10px;
    font-weight: bold;
}
.mycard{
/*  border: none;*/
    border-radius: 25px;
/*  background-color: #3e1921;*/
    line-height: 2;
    padding: 15px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 0 3px 25px 0 rgba(0, 0, 0, 0.14);
    transition: transform .2s; /* Animation */
/*
    height: 25rem;
    text-align: justify;
    text-justify: inter-word;
*/
}
.mycard:hover{
    transform: scale(1.1);
}
.mycard2{
    border-radius: 25px;
    background-color: #000000;
    opacity: 0.75;
    line-height: 1;
    padding: 15px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.1), 0 3px 25px 0 rgba(0, 0, 0, 0.14);
    transition: transform .2s; /* Animation */
}
.mycard2:hover{
    opacity: 1;
    transform: scale(1.1);
}
.p-panel-row{
    padding: 10px;
}
.card-img-top{
    margin-top: 25px;
}
.nav-link{
    color: white;
}
.myfooter{
    margin-top: 90px; 
    background-color: #3e1921; 
    background-image: url(header2.png);
}


.email-box {
    padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}
    /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;  
    height: 100%;  
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding: 40px;
}

    /* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

    /* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
    .close:focus {
    color: red;
    cursor: pointer;
}

    /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

    /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
    display: block;
    float: none;
}
.cancelbtn {
     width: 100%;
    }
}
